<VirtualHost *:443>
    ServerName webserver1.com
    DocumentRoot /var/www/html/
    SSLEngine on
    SSLCertificateFile  "{{ ssl_generated_certificate_path }}"
    SSLCertificateKeyFile "{{ ssl_certificate_key_path }}"
    DocumentRoot /var/www/wordpress
<Directory /var/www/wordpress>
     Options Indexes FollowSymLinks
     AllowOverride All
     Require all granted
</Directory>

ErrorLog ${APACHE_LOG_DIR}/domain.com_error.log
CustomLog ${APACHE_LOG_DIR}/domain.com_access.log combined
</VirtualHost>

