upstream backend {
         server node1.app1.project.com max_fails=3 fail_timeout=1s;
         server node2.app1.project.com max_fails=3 fail_timeout=1s;
                                                 }

                server {
                                listen  443 ssl;
                                location / {
                                proxy_pass http://backend;

                                proxy_set_header Host $host;
                                proxy_set_header X-Real-IP $remote_addr;
                                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                                proxy_set_header X-Forwarded-Proto $scheme;

                                                   }
                                ssl_certificate       /etc/ssl/certs/ansible.com.crt;
                                ssl_certificate_key   /etc/ssl/private/ansible.com.pem;
                                ssl on;
                                        }


 server {
                               listen 80 ;
return 301  https://$host$request_uri;

 location / {
                                proxy_pass http://backend/;

                                proxy_set_header Host $host;
                                proxy_set_header X-Real-IP $remote_addr;
                                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                                proxy_set_header X-Forwarded-Proto $scheme;

                                                   }

         }

